body{
    /* width:80%;
    margin:auto; */
    background-image: url("https://images.unsplash.com/photo-1549088521-94b6502fec3d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OHx8fGVufDB8fHx8fA%3D%3D");
    background-position:  center;
    background-repeat:repeat;
    background-size:cover;
    
}

.board{
    background-image: url("jonathan-bowers-BqKdvJ8a5TI-unsplash.jpg");
    background-position:  top right;
    background-repeat:no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    padding: 0px;
    height:8vh;
    width:100vw;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color:rgb(144, 170, 168);
    position:fixed;
    top:0.5vh;
    z-index: 10;
}
#error{
    /* display:flex;
    justify-content: center; */
    position: sticky;
    top:15vh;
    z-index: 10;
}
.city{
    background-image: url("jonathan-bowers-BqKdvJ8a5TI-unsplash.jpg");
    background-position:  top bottom;
    background-repeat:no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    height:6vh;
    border-radius: 10px;
    gap:5px;
    width:100vw;
    margin-bottom: 3vw;
    position:fixed;
    top:10vh;
    z-index: 10;
    
}
button:hover{
    background-color: rgba(5, 46, 100, 0.721);
    color:white
}
button{
    border-radius: 8px;
    /* width:11.5vw; */
    font-size: 18px;
    height:4vh;
    margin:0.9vh;
    
}
input:hover{
    color:white;
    background-color:rgba(5, 46, 100, 0.721);
}
input{
    border-radius: 8px;
    /* width:30vw; */
    font-size: 18px;
    height:4vh;
    margin:0.5vh;
    text-align: center;
    
}
main{
    top: 199px;
    position: relative;
}

.show{
    display:flex;
    justify-content: space-around;
    color:rgb(10, 54, 61);
    height:80vh;
    width:100%;
    border-radius: 23px;
    
    
    background-position:top right;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:local;
    opacity: 0.7;
    /* transition: background-image 2s ease-in-out filter 2s ease-out; */
    
    
}

 h1{
    font-size: 60px;
    position:absolute;
    top:10px;
    left:100px;
    
}
.show1{
    position: absolute;
    top:155px;
    left:100px;
    font-size: 3vw;
     
    color:sandybrown;
    background-position:bottom right;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment:local;

}

.show1 div{
    margin-bottom: 0.5vh;
}
.show1 .temp{
    font-size: 7vw;
    font-weight: bold;
}
.show1 .ctyCntry{
    font-size: 5vw;
    
}
.show1 .condition{
    font-size: 2vw;
    font-weight: 500;
}

.show2{
    display:flex;
    flex-direction: column;
    gap:5px;
    
    position: absolute;
    top:94px;
    right:100px;
    font-size: 25px;
    color: rgb(94 3 3);
    opacity:2;
    
}

.hidden{
    display: none;
}
.forecast{
    height:300px;
    background-color: rgb(96, 86, 86);
    border-radius: 23px;
    position: relative;
    top:40px;
    width:100vw;
    
    
    
}
.nav1{
    color:burlywood;
    font-size: 40px;
    text-decoration:underline;
    text-align: center;
    
}

table{
    width:100%;
    table-layout: fixed;
    /* margin:auto; */
    border:2px solid black;
    position:absolute;
    top:50px;
    border-radius: 10px;
    padding: 8px;
    background-image: url("https://images.unsplash.com/photo-1501862700950-18382cd41497?q=80&w=819&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position:  right center;
    background-repeat:repeat;
    background-size:cover;

}
th{
    border:2px solid black;
    width:14vw;
    height:50px;
    background-color: rgba(208, 202, 197, 0.792);
    
    word-wrap: break-word;
    font-size: 15px;
    
    
}
td{
    border:2px solid black;
    width:14vw;
    height:80px;
    text-align: center;
    background-color: rgb(85, 110, 110);
    color:white;
    font-weight: 300;
    background-image: url("https://images.unsplash.com/uploads/14116941824817ba1f28e/78c8dff1?q=80&w=686&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position:  center;
    background-repeat:repeat;
    background-size:cover;
    word-wrap: break-word;
}
h3{
    text-decoration: underline;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 34px;
    color: antiquewhite;
    
    
}
.hourly{
    background-color: rgb(25, 73, 90);
    border-radius: 23px;
    width:100vw;
    position: relative;
    top: 34px;
}
.hourly p{
    margin: auto;
    width: 54vw;
    text-align: center;
    color: rgb(47, 53, 37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(239, 206, 206);
    margin-bottom: 4px;
    border-radius: 23px;

}
@media (max-width:685px){
    .show{
        display:flex;
        flex-direction: column;
        gap:4vh;
        justify-content: center;
    }
    .show1, .show2, h1{
        position:static;
        text-align: center;
    }
    .show2{
        color:burlywood
    }
    .city{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:12vh;
    }
    .nav1{
    margin-left: 50px;
    color:rgb(30, 93, 102);
    font-size: 25px;
    text-decoration:underline;
    text-align: center;
}

}

